body {
    font-family: sans-serif;
    color: #1e1919;
}

* {
    margin: 0px;
}

ul {
    float: top;
    width: 100%;
    overflow: hidden;
    background-color: #1e1919;
    position: fixed;
    height: 52px;
}

li {
    float: left;
    height: 55px;
    font-size: 70%;
}

li a {
    margin-top: 0px;
    display: block;
    padding: 15px;
    color: #EABCAC;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

#article1 {
    padding: 5%;
    height: 500px;
    background-image: url("assets/bgfix.jpg");
    background-size: 100% 100%;
    margin-bottom: 30px;
}

#article1 p {
    padding-top: 250px;
    font-size: 300%;
    font-weight: bold;
    color: whitesmoke;
}

hr {
    width: 100%;
    color: #eee8e8;
}

#article2,
#article3 {
    margin: 3% 6% 3% 6%;
}

#article4 {
    margin: 3% 10% 3% 10%;
}

aside {
    margin: 3% 6% 3% 6%;
}

.container {
    display: flex;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.box {
    flex-grow: 1;
    margin: 5px;
    line-height: 200%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

h1 {
    font-size: 220%;
    padding-bottom: 7%;
}

h3 {
    text-align: center;
    font-size: 180%;
    padding-bottom: 3%;
}

p {
    font-size: 18px;
}

#box1 {
    padding-top: 8%;
    width: 60%;
}

#box2 {
    padding-top: 50px;
    width: 60%;
    text-align: right;
}

#box3 {
    width: 50%;
}

#box4 {
    width: 50%;
}

#box5 {
    width: 60%;
}

#box6 {
    width: 50%;
}

aside.box {
    width: 40%;
}

#icon1 {
    float: right;
    margin-top: 5%;
    width: 90%;
    height: 90%;
}

#icon2 {
    float: left;
    margin-top: 5%;
    width: 90%;
    height: 90%;
}

#foto1 {
    width: 90%;
    height: 90%;
}

#foto2 {
    width: 90%;
    height: 90%;
}

#gambar {
    margin-right: 8%;
    float: right;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid rgb(214, 198, 182);
}

@media screen and (max-width: 1000px) {
    #article1 {
        padding: 2%;
        height: 300px;
        background-size: 100% 100%;
        margin-bottom: 20px;
    }
    #article1 p {
        padding-top: 20%;
        font-size: 180%;
    }
    #article2,
    #article3 {
        margin: 0.1% 2% 0.1% 2%;
    }
    p {
        font-size: 10px;
    }
    #box1 {
        width: 10%;
    }
    #box2 {
        padding-top: 50px;
        width: 5%;
        text-align: right;
    }
    aside.box {
        width: 10%;
    }
    #icon1 {
        margin-top: 50%;
        float: left;
        width: 50%;
        height: 50%;
    }
    #icon2 {
        margin-top: 30%;
        float: left;
        width: 50%;
        height: 50%;
    }
    h1 {
        font-size: 100%;
    }
    h4 {
        font-size: 70%;
    }
    h3 {
        text-align: center;
        font-size: 100%;
        padding-bottom: 1%;
    }
}